[Unit]
Description=WOSBot
After=network.target

[Service]
ExecStart=/home/WOSland/bot/venv/bin/python3 /home/WOSland/bot/main.py --autoupdate
WorkingDirectory=/home/WOSland/bot
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
